<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Directory</title>
</head>

<body>

<a href="./">Directory</a>&nbsp;-&nbsp;<a href="./unemployed">Search Unemployed</a>&nbsp;-&nbsp;<a href="./employed">Search Employed</a>
<div class="container">
    {{#users}}
    <a href="./profile/{{id}}" class="directory">
        <div class="directory-text">
            <img src={{avatar}}>
            <h1>{{name}}</h1>
            <h4>
            {{#job}} {{.}} {{/job}}
            {{^job}}
            <p class="jobless">Available for hire</p>
            {{/job}}
            {{#company}} {{.}} {{/company}} 
            </h4>
        </div>
    </a>
    {{/users}}
</div>
</body>

</html>